[Unit]
Description=sun service
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=5s
User=root
Group=root
ExecStart=/home/apps/sun/sun
WorkingDirectory=/home/apps/sun
Environment=GO111MODULE=on
Environment=GOPROXY=https://goproxy.cn
Environment=CGO_ENABLED=0
Environment=GOOS=linux
Environment=GOARCH=amd64

[Install]
WantedBy=multi-user.target